.sta1{
    height:150px;
    background-color: blue
}
.bg{
    background-color: white
}
.sta2{
    height:150px;
    background-color:white
}
.sta3{
    height:150px;
    background-color: rgb(84, 84, 119)
}
.sta4{
    height:150px;
    background-color:white
}
.sta5{
    height:150px;
    background-color:yellow
}
.sta6{
    height:150px;
    background-color: white
}
.sta7{
    height:150px;
    background-color: rgb(84, 84, 119)
}
.sta8{
    height:150px;
    background-color: white
}
.sta9{
    height:150px;
    background-color: blue
}
